<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>remplates-index</title>
</head>
<body>
<p>name: {{ name }}</p>
<p>age: {{ age }}</p>
<p>my_dict: city = {{ my_dict["city"] }}</p>
<p>my_dict: city = {{ my_dict.city }}</p>
<p>list: {{ list }}</p>
<p>my_list[0] + my_list[1]: {{ list[int] + list[1] }}</p>

<p> {{ "hello" | upper }}</p>
<p> {{ "HELLO" | lower }}</p>
<p> {{ "<em>hello</em>" | safe }}</p>
<p> a{{ "  hello world  " | trim | upper }}a</p>
<hr />
<p> {{ list | filter_list }}</p>
<hr />
<p> {{ list | filter_list2 }}</p>
</body>
</html>