<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/register" method="post">
{#    <p> 用户名: <input type="text" name="username"> </p>#}
{#    <p> 用户密码: <input type="password" name="userpwd"></p>#}
{#    <p>确认密码: <input type="password" name="userpwd2"></p>#}
{#    <p><button type="submit">登录</button></p>#}
   <p>
        {{ form.username.label  }}
   </p>
    <p>
        {{ form.username }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.username.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

    <p>
        {{ form.password.label  }}
   </p>
    <p>
        {{ form.password }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.password.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

     <p>
        {{ form.password2.label  }}
   </p>
    <p>
        {{ form.password2 }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.password2.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

    {{ form.submit }}

</form>
</body>
</html>