<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  method="post">
    {{ form.csrf_token }}
   <p>
        {{ form.username.label  }}
   </p>
    <p>
        {{ form.username }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.username.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

    <p>
        {{ form.password.label  }}
   </p>
    <p>
        {{ form.password }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.password.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

     <p>
        {{ form.password2.label  }}
     </p>
    <p>
        {{ form.password2 }}
    </p>
{#    {{ form.username.errors }}#}
    {% for msg in form.password2.errors %}
        <p> {{ msg }}</p>
    {% endfor %}

    {{ form.submit }}


{# 宏  #}
{% macro input() %}
    <input type="text" value="" size="30">
{% endmacro %}

<h1>第一次调用</h1>
{{ input() }}
<h1>第二次调用</h1>
{{ input() }}

    <hr />
<h1>定义带参数的宏</h1>
{% macro input2(type="text",value="",size=30) %}
    <input type="{{ type }}" value="{{ value }}" size="{{ size }}">
{% endmacro %}
<h1>带参数的宏</h1>
{{ input2('password','',15) }}


</form>
</body>
</html>